contact_simulation_app/__pycache__/

contact_network_simulator/network_dumps/

contact_network_simulator/__pycache__/

contact_network_simulator/contact_network_simulator.egg-info/

contact_network_simulator/build/scripts-3.8/

network_dumps/

ctns.egg-info/

build/
ctns/__pycache__/

dist/

*.pickle
